Lines 1-50 are considered documentation and notes.
This config is made for mods, however lines 1-150 are reserved completely for SEAL. Editing these may or may not tamper with SEAL processes. Please be merciful















































END OF SEAL DOCUMENTATION
16
